@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@600;700&family=Commissioner:wght@400;500&display=swap');

:root {
  --primary: #2E4C39;
  --black: #000000;
  --white-color: #fff;
}

/*
===============================
Global CSS START
===============================
*/

body {
  color: var(--black);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  font-family: 'Commissioner', sans-serif;
}

html,
body {
  min-width: 320px;
  scroll-behavior: smooth;
}

img, svg {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
  transition: 0.3s all ease;
}

a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  color: var(--text-white);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
  font-family: 'Brygada 1918', serif;
}

h1,
h2 {
  font-weight: 700;
}

h4,
h5 {
  font-weight: 600;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p:last-of-type {
	margin: 0;
}

/*
==========================
Main Btn Css Start
==========================
*/

.site-btn {
  font-size: 16px;
  font-weight: 400;
  padding: 12px 30px;
  display: inline-block;
  text-transform: uppercase;
  transition: 0.3s all ease;
  border-radius: 3px;
  color: #fff;
  background-color: var(--primary);
}

.site-btn:hover {
  background-color: #FBA40A;
}

/*
=========================
Main Btn Css End 
=========================
*/

#page {
  overflow: hidden;
}

/*
============================
Global CSS END
============================
*/

/*
============================
Header Css Start
============================
*/

.site-header {
  padding: 10px 0;
  position: absolute;
	left: 0;
	top: 0;
  width: 100%;
	z-index: 99;
}

.topbar_header {
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.topbar-cta span {
	color: var(--primary);
	margin-left: 20px;
	font-size: 16px;
}

.topbar-cta span a {
  color: var(--primary);
	padding: 12px 30px;
	border-radius: 3px;
  display: inline-block;
	background-color: #72AE87;
	text-transform: uppercase;
}

.topbar-cta span a > img {
  padding: 0 4px;
}

.main-header {
  padding: 20px 0;
}

.main-menu {
  text-align: right !important;
}

.main-menu ul li {
  display: inline-block;
  position: relative;
}

.main-menu ul li a {
  color: var(--primary);
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-left: 45px;
  transition: 0.3s all ease;
}
@media only screen and (max-width:767px) {
	.topbar-cta span {
    margin-bottom: 10px;
    display: block;
  }
  .site-logo {
    max-width: 250px;
  }
}

@media only screen and (max-width:991px) {
/*
=========================================
Mobile Menu Css 
=========================================
*/
 .menu-tirgger {
  width: 40px;
  padding: 5px;
  margin-left: auto;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right:15px;
  margin-top: -22.5px;
}
.menu-tirgger span{
  display: block;
  width: 100%;
  height: 4px;
  margin: 5px 0;
  background-color: var(--primary);
} 
.mobile-menu-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.8);
  top: 0;
  z-index: 999999;
  text-align: left;
  opacity:0;
  visibility: hidden;
  transition: 0.5s all ease;
}
.mobile-menu-wrapper.open{
  visibility:visible;
  opacity:1;
}
.mobile-menu-inner {
  background-color: var(--primary);
  height: 100%;
  max-width:450px;
  margin-right: -250px;
  padding: 40px;
  margin-left: auto;
  transition:0.5s all ease;
}
.mobile-menu-wrapper.open .mobile-menu-inner{
  margin-right: 0;
}
.main-menu ul li {
  display: block;
  margin-bottom: 22px;
}
.main-menu ul li a {
  color: #fff;
  font-size: 15px;
  padding-left: 0;
  text-align: left;
}  
.close-btn {
  width: 50px;
  padding: 10px;
  cursor: pointer;
  margin-left: auto;
}
/*
=========================================
Mobile Menu Css End
=========================================
*/

 }
/*
============================
Header Css End
============================
*/

/*
============================
Hero Css Start
============================
*/

.hero-section {
  height: 1000px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-section:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  background-image: url(assets/images/banner-greadient-shape.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.hero-content {
  text-align: center;
}

.hero-subtitle {
  color: #72AE87;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 30px;
}

.hero-content h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 66px;
}

.hero-btns {
	margin-top: 18px;
}

.hero-btns a:not(:last-of-type) {
  color: #000000;
  background-color: #FBA40A;
  margin-right: 15px;
}
@media only screen and (max-width:991px) {
   br {
    display: none;
   }
   .hero-subtitle {
    font-size: 22px;
  }
   .hero-content h2 {
    font-size: 55px;
    line-height: 60px;
  }
  }
  @media only screen and (max-width:767px) {
    .hero-subtitle {
      font-size: 18px;
    }
    .hero-content h2 {
      font-size: 40px;
      line-height: 45px;
    }

    .hero-btns a:not(:last-of-type) {
      margin-right: 0;
      margin-bottom: 10px;
    }
    .site-btn {
      font-size: 15px;
    }

  }
/*
============================
Hero Css End
============================
*/

/*
============================
Unique Approach Css Start
============================
*/

.unique-approach-section {
	background-size: cover;
	background-position: center;
	position: relative;
	padding-top: 100px;
	padding-bottom: 250px;
}

.section-title h2 {
  font-size: 48px;
  color: var(--primary);
  font-weight: 700;
  font-style: italic;
}

.unique-approach-section .section-title {
	margin-bottom: 50px;
}

.unique-approach-boxes {
	display: block;
	background-color: #E7F0E4;
	text-align: center;
	padding: 30px;
	border-radius: 24px;
  margin-bottom: 30px;
}

.unique-approach-icon {
  margin-bottom: 18px;
}

.unique-approach-content h4 {
  color: var(--primary);
  font-size: 24px;
  line-height: 30px;
  max-width: 212px;
  margin: 0 auto;
}

.unique-approach-content p {
  font-size: 16px;
  line-height: 28px;
  margin-top: 10px;
}

.unique-approach-content .site-btn {
  margin-top: 50px;
}

/*
============================
Unique Approach Css End
============================
*/


/*
================================
Treatment Specialist Css Start
================================
*/

.treatment-specialist-section {
  background-color: #2E4C39;
  padding: 50px 0;
  position: relative;
}

.treatment-specialist-section:before {
  content: "";
  position: absolute;
  left: 0;
  top: -240px;
  width: 100%;
  height: 300px;
  background-image: url(assets/images/green-shape.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.treatment-specialist-content {
  color: #fff;
  font-size: 45px;
  font-weight: 600;
}

.contact-info a {
  color: #2E4C39;
  font-size: 16px;
  padding: 12px 15px;
  display: inline-block;
  border-radius: 3px;
  background-color: #FBA40A;
}

.contact-info a img {
  margin-right: 5px;
}

/*
================================
Treatment Specialist Css End
================================
*/

/*
===========================
Our Philosophy Css
===========================
*/

.our-philosophy-items {
	position: relative;
	z-index: 2;
	padding: 80px 0;
}

.sec-absolute-bg {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.sec-absolute-bg:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 140px;
  background-image: url(assets/images/greadient-shape-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.absolute-bg-2:before {
  top: 0;
  background-image: url(assets/images/greadient-shape-3.png);
}

.absolute-bg-left .sec-absolute-bg {
  right: auto;
  left: 0;
}

.sec-absolute-bg {
   background-image: url(assets/images/ab-bg-1.jpg);

 }

 .absolute-bg-2 {
  background-image: url(assets/images/ab-bg-2.jpg);
 } 
 
 .absolute-bg-left .philosophy-box-content {
  padding-left: 40px;
  margin-right: 0;
}

 .philosophy-box-content {
  margin-right: 40px;
}

 .philosophy-box-content h2 {
  color: var(--primary);
  font-size: 48px;
  font-style: italic;
  line-height: 54px;
}

 .philosophy-box-content .site-btn {
	margin-top: 20px;
}

/*
===========================
Our Philosophy Css End
===========================
*/

/*
============================
Footer Css Start
============================
*/



/*
============================
Footer Css End
============================
*/







/*
============================
Responsive Css Start
============================
*/

@media screen and (min-width: 1360px) {

 .container{
    max-width: 1170px;
 }
 
 }
 /* ----- Laptop device screen ----- */
 @media only screen and (max-width:1199px) {
 
 }
 /* ----- Tablet device screen ----- */
 @media only screen and (max-width:991px) {
 
 }
 /* ----- Mobile device screen ----- */
 @media only screen and (max-width:767px) {
 
 }
 
 /*
 ============================
 Responsive Css End
 ============================
 */